.emiz {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
  position: relative;
  .blog_info_container {
    padding: 12% 5%;
    position: relative;
    z-index: 88;
  }
}
.emiz_blog {
  padding: 70px 0;
  h1 {
    font-family: "Michroma", sans-serif;
    color: white;
    font-weight: bolder;
  }
  p {
    margin: 0 0 10px;
    color: white;
  }
  .readmore {
    margin-top: 5%;
    width: 150px;
    text-align: center;
    padding: 10px;
    // border-radius: 12px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    transition: 50ms ease-in-out;
  }
}
.readmore:hover {
  color: black;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

.blogs_fadebottom {
  width: 300px;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(0 0 0 / 42%),
    #202020bf
  );
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
